body {
    background-image: url("background.jpg");
    margin: 0;
    padding: 0;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    background-color: rgb(241, 153, 10);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

#image-canvas {
    border: 1px solid rgb(255, 255, 255);
    margin: 20px auto;
    height: 50%;
    width: 50%;
    max-width: 600px;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(240, 44, 44);
}

.one-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.controls button {
    margin: 10px;
}

#download-button {
    background: transparent;
    color: #ffffff;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 14px 24px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background 200ms;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#download-button:hover {
    background-color: #100a0a;
}

.logo {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.chandikayaga {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    position: relative; /* Changed from fixed to relative */
    bottom: auto; /* Ensures no bottom offset */
    left: 0;
    right: 0;
    background-color: white;
    color: #0b0b0b;
    text-transform: lowercase;
    text-align: center;
    padding: 10px;
}

/* Responsive design for mobile devices */
@media only screen and (max-width: 768px) {
    .footer {
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
    }
}
